.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 100;
  }
  .popup .popup-inner {
    position: absolute;
    padding: 0px 40px;
    border-radius: 20px;
    width: 400px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 600px;
    margin: auto;
    background: white;
    text-align: center;
    animation: slideDown 2s;
  }

  @keyframes slideDown {
    from {top: 0px;}
    to {top: 25%;}
  }

  .popup .popup-inner .popup-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    transition: .4s all ease;
    color:  rgb(165, 165, 165);
    cursor: pointer;
  }

  .popup .popup-inner .popup-close-button:hover {
      color: #111;
  }

  .popup .popup-inner .popup-icon {
    width: 100px;
    height: 100px;
    background: url('../../images/info-popup.png') center center no-repeat;
    background-size: cover;
    position: relative;
    margin: 40px auto;
}

.popup .popup-inner .popup-header {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
    color: #333;
    font-weight: 900;
}

.popup .popup-inner .popup-description {
    margin-top: 10px;
    letter-spacing: .6px;
    font-size: 17px;
    color: rgb(165, 165, 165);
    font-weight: 500;
}

.popup .popup-inner .popup-button {
    padding: 15px 40px;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    letter-spacing: .6px;
    background: rgb(71, 150, 241);
    transition: .4s all ease;
    cursor: pointer;
    max-width: 150px;
    position: relative;
    margin: 60px auto;
}

.popup .popup-inner .popup-button:hover {
    background: rgb(0, 119, 255);
}

@media only screen and (max-width: 450px) {
    .popup .popup-inner {
        width: 300px;
    }

    .popup .popup-inner .popup-header {
        font-size: 30px;
        font-weight: 700;
    }
    
    .popup .popup-inner .popup-description {
        font-size: 13px;
        font-weight: 400;
    }
    
    .popup .popup-inner .popup-button {
        padding: 10px 30px;
        font-size: 14px;
        letter-spacing: .6px;
        max-width: 150px;
    }
  }