.Navbar {
    background: #f2eff0;
    padding: 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    height: auto;
  }
  
  .Navbar .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding: 15px 0px;
  }
  
  .Navbar .flex .start,
  .Navbar .flex .target,
  .Navbar .flex .unvisited,
  .Navbar .flex .visited,
  .Navbar .flex .shortest-path,
  .Navbar .flex .wall {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .Navbar .flex .start {
    background: url('../images/start-flag.png') center no-repeat;
      background-size: cover;
  }
  
  .Navbar .flex .target {
    background: url('../images/circle.png') center no-repeat;
      background-size: cover;
  }
  
  .Navbar .flex .unvisited {
    outline: 1px solid #000;
  }
  
  .Navbar .flex .visited {
    background: rgb(121, 8, 173);;
  }
  
  .Navbar .flex .shortest-path {
    background: rgb(212, 68, 16);
  }
  
  .Navbar .flex .wall {
    background: rgb(0, 0, 0);
  }
  
  .Navbar .flex .speed {
    background: url('../images/speed.png') center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
  }

  .reset .icon {
    height: 30px;
    width: 30px;
    background: url('../images/reset.png') center center no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  .reset {
    cursor: pointer;
    transition: all .4s ease;
    color: #333;
  }

  .reset:hover {
    color: #0773e7;
  }
  
  .Navbar .selectTag {
    width: 120px;
    margin-left: 10px;
  }

  .Navbar .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  
  .Navbar .button:hover {
    background: #0773e7;
  }
  
  .Navbar .rounded {
    padding: 2px 30px;
    height: 30px;
    background: #1888ff;
    border-radius: 15px;
  }
