.Navbar {
    background: #f2eff0;
    padding: 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    height: auto;
  }
  
  .Navbar .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }

  .Navbar .walls {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url('../images/bricks.svg') center center no-repeat;
    background-size: cover;
    transition: .4s all ease-in-out;
  }

  .Navbar .wall {
    cursor: pointer;
    transition: .4s all ease-in-out;
  }

  .Navbar .wall:hover {
    color: #0773e7;
  }
  
  .reset .icon {
    height: 30px;
    width: 30px;
    background: url('../images/reset.png') center center no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  .reset {
    cursor: pointer;
    transition: all .4s ease;
    color: #333;
  }

  .reset:hover {
    color: #0773e7;
  }
  
  .Navbar .selectTag {
    width: 150px;
    margin-left: 10px;
  }

  .Navbar .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  
  .Navbar .button:hover {
    background: #0773e7;
  }
  
  .Navbar .rounded {
    padding: 2px 30px;
    height: 30px;
    background: #1888ff;
    border-radius: 15px;
  }

