.SecondNavbar {
    position: relative;
    background: #f2eff0;
    height: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    align-items: center;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    border-top: 1px solid rgba(141, 141, 141, 0.514);
    height: auto;
  }
  
  .SecondNavbar .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px 20px;
  }

  .SecondNavbar .selectTag {
    width: 150px;
    margin-left: 10px;
  }
  
  .SecondNavbar .flex .start,
  .SecondNavbar .flex .target,
  .SecondNavbar .flex .unvisited,
  .SecondNavbar .flex .visited,
  .SecondNavbar .flex .shortest-path,
  .SecondNavbar .flex .wall {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .SecondNavbar .flex .start {
    background: url('../images/start-flag.png') center no-repeat;
      background-size: cover;
  }
  
  .SecondNavbar .flex .target {
    background: url('../images/circle.png') center no-repeat;
      background-size: cover;
  }
  
  .SecondNavbar .flex .unvisited {
    background: #444444;
  }
  
  .SecondNavbar .flex .visited {
    background: rgb(121, 8, 173);;
  }
  
  .SecondNavbar .flex .shortest-path {
    background: rgb(212, 68, 16);
  }
  
  .SecondNavbar .flex .wall {
    background: rgb(0, 0, 0);
  }
  
  .SecondNavbar .flex .speed {
    background: url('../images/speed.png') center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
  }