.SecondNavbar {
    position: relative;
    background: #f2eff0;
    height: auto;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    border-top: 1px solid rgba(141, 141, 141, 0.514);
    height: auto;
  }
  
  .SecondNavbar .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px 20px;
  }

  .SecondNavbar .selectTag {
    width: 150px;
    margin-left: 10px;
  }

  .SecondNavbar .time {
      margin-left: 10px;
  }

  .SecondNavbar .time span {
    color: #4BB543;
    text-transform: lowercase;
  }

  .SecondNavbar .walls {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url('../images/bricks.svg') center center no-repeat;
    background-size: cover;
    transition: .4s all ease-in-out;
  }

  .SecondNavbar .wall {
    cursor: pointer;
    transition: .4s all ease-in-out;
  }

  .SecondNavbar .wall:hover {
    color: #0773e7;
  }
